<h1 class="blog-title">{{BlogTitle}}</h1>
<div class="blog-section-container">
  <div class="blog-text-section">
    <p>{{BlogText}}.</p>
  </div>
  <img class="blog-text-img" src="{{BlogPhoto}}">
  </div>
