<article class="item-box">
  <div class="item-image">
    <img src="{{ImagePath}}">
  </div>
  <div class="item-info">
    <p class="item-brand">{{ItemBrand}}</p>
    <p class="item-buy-it">Want it? Get it here:</p>
      <a href="{{ItemLink}}" class="item-link">{{ItemLinkShown}}</a>
  </div>
</article>
