<a class="blog-element" href="{{BlogLink}}">
  <article>
    <img class="blog-element-picture" src="{{NavBlogImagePath}}">
    <h3 class="blog-element-title">{{BlogTitle}}</h3>
    <p class="blog-element-description">{{BlogDescription}}</p>
  </article>
</a>
