<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{PageTitle}}</title>
    <link rel="stylesheet" href="/style.css" media="screen">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
    <script src="/blogcommentTemplate.js"></script>
    <script src="/index.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Pragati+Narrow|Sacramento|Source+Sans+Pro" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" defer></script>
    <!--THIS IS THE MOST UP TO DATE UPDATE 404 AND ITEMS fix header to add all correct font and create a faviocon<link rel="icon" href="http://example.com/favicon.png">-->
  </head>
  <body>
    <header>
      <nav class="navbar">
        <h1 class="title">The Girl's Daily Style</h1>
        <ul class="navlist">
          <li class="navitem navlink"><a href="/">Home</a></li>
          <li class="navitem navlink"><a href="navblog">Blog</a></li>
          <li class="navitem navlink"><a href="faveitems">Fave Items</a></li>
          <li class="navitem navlink"><a href="aboutus">About Us</a></li>
        </ul>
      </nav>
    </header>
    {{{body}}}
    <footer>
      <div class="spacer"></div>
      <div class="footer-navbar">
        <ul class="footer-navlist">
          <li class="footer-navitem navlink"><a href="/">Home</a></li>
          <li class="footer-navitem navlink"><a href="navblog">Blog</a></li>
          <li class="footer-navitem navlink"><a href="faveitems">Fave Items</a></li>
          <li class="footer-navitem navlink"><a href="aboutus">About Us</a></li>
          <li class="footer-navitem navlink"><a href="https://www.instagram.com/thegirlsdailystyle/" target= "_blank"><button type="button" id="instagram-button"><li i class="fab fa-instagram"></i></button></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
