<main class="about-us-container">
  <h1 class="about-us-title">Meet the Authors of the Girl's Daily Style</h1>
  <div class="about-us-one-person">
    <img class="about-us-img" src="/photos/CBQL8179.jpg">
    <div class="about-us-bio">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim justo augue. Sed tempus, mi vel placerat fermentum, erat urna vulputate arcu, et consectetur nibh ligula vel nunc. Phasellus non felis lorem. Maecenas quam mauris, auctor a magna ac, consectetur condimentum nisl. Quisque consequat condimentum mauris, a aliquam tortor semper in. Cras vestibulum fringilla nisi, a tempus ipsum malesuada vel. Nulla at felis sed turpis finibus tempor at sit amet magna. Phasellus a laoreet mi, vel bibendum dolor.

Integer non justo nec libero ultrices sollicitudin. Donec efficitur, enim vitae viverra feugiat, felis orci dapibus diam, id vulputate neque dui quis dui. Praesent dictum nisl eu diam facilisis, lobortis rhoncus risus condimentum. Morbi luctus velit quis ante sagittis, at pharetra magna venenatis. Proin venenatis metus enim, ac maximus libero ultrices non. Sed auctor sapien leo, vel tempor est vulputate sit amet. Nunc sit amet libero a sem varius pulvinar. Ut sem odio, imperdiet vitae auctor eu, congue a quam. Nunc eu urna elit. Proin eu venenatis dui.

Vivamus non erat quis nulla commodo congue. Etiam id tellus ultricies, tempus odio non, cursus ante. Nullam blandit vestibulum nulla sit amet gravida. Praesent odio libero, sollicitudin ac est nec, placerat placerat augue. Aenean dui ante, tincidunt sed pellentesque nec, placerat eget magna. Aliquam metus leo, tristique non dui eu, consectetur consequat velit. Nam sed lorem sed magna euismod facilisis et id sapien. Proin porta nisl sit amet nibh mattis, at porta leo posuere. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed eleifend diam eu auctor rutrum. Aenean facilisis metus ex, blandit bibendum urna pellentesque id. Ut sed elit ut libero aliquet auctor.
      </p>
    </div>
  </div>
  <div class="about-us-one-person">
    <img class="about-us-img" src="/photos/HBFV1696.jpg">
    <div class="about-us-bio">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim justo augue. Sed tempus, mi vel placerat fermentum, erat urna vulputate arcu, et consectetur nibh ligula vel nunc. Phasellus non felis lorem. Maecenas quam mauris, auctor a magna ac, consectetur condimentum nisl. Quisque consequat condimentum mauris, a aliquam tortor semper in. Cras vestibulum fringilla nisi, a tempus ipsum malesuada vel. Nulla at felis sed turpis finibus tempor at sit amet magna. Phasellus a laoreet mi, vel bibendum dolor.

Integer non justo nec libero ultrices sollicitudin. Donec efficitur, enim vitae viverra feugiat, felis orci dapibus diam, id vulputate neque dui quis dui. Praesent dictum nisl eu diam facilisis, lobortis rhoncus risus condimentum. Morbi luctus velit quis ante sagittis, at pharetra magna venenatis. Proin venenatis metus enim, ac maximus libero ultrices non. Sed auctor sapien leo, vel tempor est vulputate sit amet. Nunc sit amet libero a sem varius pulvinar. Ut sem odio, imperdiet vitae auctor eu, congue a quam. Nunc eu urna elit. Proin eu venenatis dui.

Vivamus non erat quis nulla commodo congue. Etiam id tellus ultricies, tempus odio non, cursus ante. Nullam blandit vestibulum nulla sit amet gravida. Praesent odio libero, sollicitudin ac est nec, placerat placerat augue. Aenean dui ante, tincidunt sed pellentesque nec, placerat eget magna. Aliquam metus leo, tristique non dui eu, consectetur consequat velit. Nam sed lorem sed magna euismod facilisis et id sapien. Proin porta nisl sit amet nibh mattis, at porta leo posuere. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed eleifend diam eu auctor rutrum. Aenean facilisis metus ex, blandit bibendum urna pellentesque id. Ut sed elit ut libero aliquet auctor.
      </p>
    </div>
  </div>
</main>
