<main class="blog-container">
  {{#each BlogInfo}}
    {{> blogpost this}}
  {{/each}}
    <div class="all-comment-stuff">
      <div class="blog-comments">
        <div class="comment">
          <p class="comment-author">Bob</p>
          <p class="comment-content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
        </div>
      </div>
      <div class="leave-a-comment">
        <h3 class="leave-a-comment-title">Leave a Comment!</h3>
        <div class="comment-input-element">
          <label for="comment-text-input">Comment text</label>
          <textarea id="comment-text-input"></textarea>
        </div>
        <div class="comment-input-element">
          <label for="comment-attribution-input">Author</label>
          <input type="text" id="comment-attribution-input">
        </div>
        <button type="button" id="create-comment-button">Send</button>
      </div>
    </div>
  </main>
