<main class="blog-container">
  <h1 class="blog-title">{{BlogTitle}}</h1>
  {{#each blogInfo}}
    {{> blogpost this}}
  {{/each}}
    <div class="all-comment-stuff">
      <div class="blog-comments">
        {{#each commentInfo}}
          {{> blogcomment this}}
        {{/each}}
      </div>
      <div class="leave-a-comment">
        <h3 class="leave-a-comment-title">Leave a Comment!</h3>
        <div class="comment-input-element">
          <label for="comment-text-input">Comment text</label>
          <textarea id="comment-text-input"></textarea>
        </div>
        <div class="comment-input-element">
          <label for="comment-attribution-input">Author</label>
          <input type="text" id="comment-attribution-input">
        </div>
        <button type="button" id="create-comment-button">Send</button>
      </div>
    </div>
  </main>
