<main class="blog-container">
  <h1 class="blog-title">Blog Title</h1>
  <div class="blog-section-container">
    <div class="blog-text-section">
      <p>Lorem ipsum dolor sit amet, ei prima albucius mandamus qui, ea diam
        legimus interpretaris sit. At est nihil libris iriure, pri alterum fuisset albucius et. Quo ex meis adipiscing,
         wisi conceptam contentiones in cum. Ea quando oblique numquam vis, velit legendos vel ex, ferri nulla quaeque ea sea.
         Ei vix nibh porro complectitur, commodo persecuti signiferumque qui cu.</p>
    </div>
    <img class="blog-text-img" src="photos/XZMV7893.jpg">
    </div>
    <div class="blog-section-container">
      <div class="blog-text-section">
        <p>Lorem ipsum dolor sit amet, ei prima albucius mandamus qui, ea diam
          legimus interpretaris sit. At est nihil libris iriure, pri alterum fuisset albucius et. Quo ex meis adipiscing,
           wisi conceptam contentiones in cum. Ea quando oblique numquam vis, velit legendos vel ex, ferri nulla quaeque ea sea.
           Ei vix nibh porro complectitur, commodo persecuti signiferumque qui cu.</p>
      </div>
      <img class="blog-text-img" src="photos/XZMV7893.jpg">
    </div>
    <div class="all-comment-stuff">
      <div class="blog-comments">
        <div class="comment">
          <p class="comment-author">Bob</p>
          <p class="comment-content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
        </div>
      </div>
      <div class="leave-a-comment">
        <h3 class="leave-a-comment-title">Leave a Comment!</h3>
        <div class="comment-input-element">
          <label for="comment-text-input">Comment text</label>
          <textarea id="comment-text-input"></textarea>
        </div>
        <div class="comment-input-element">
          <label for="comment-attribution-input">Author</label>
          <input type="text" id="comment-attribution-input">
        </div>
        <button type="button" id="create-comment-button">Send</button>
      </div>
    </div>
  </main>
