<main class="home-page">
  <nav id="side-nav-bar">
    <ul class="side-nav-list">
      <li class="meet-authors"><h3>Meet the Authors</h3></li>
      <li class="author-picture"><img src="/photos/BLIK9384.jpg" alt="Photo of Kaitlin"></li>
      <li class="author-info"><p>Hey guys, I’m Kaitlin! I started getting into fashion in middle school.
        I loved mixing and matching clothing pieces and finding new combinations. I want to help everyone learn how to create stunning outfits.
        You can expect to see fashion, beauty, and daily life in this blog.</p></li>
      <li class="author-picture"><img src="/photos/XZMV7893.jpg" alt="Photo of Madisen"></li>
      <li class="author-info"><p>Hey I'm Madisen! I'm a senior in high school, so I have yet to know for sure what I wantt o do with my life, but I'm hoping
      this could be a step in the right direction. For as long as I can remember, I have alwyas been fascinated by the Fashion Industry and their ability
      to influence others. My goal as a member of this blog would be to help positively influence you with fashion, beauty, and lifestyle tips!</p></li>
    </ul>
    <div class="spacer"></div>
  </nav>
  <div class="blog-section">
    <article class="latest-blog-section">
      <div class="latest-blog-words">
        <h3 class="latest-blog-title">{{LatestBlogTitle}}</h3>
        <div class="latest-blog-info">
          <p>{{LatestBlogDescription}}</p>
        </div>
      </div>
      <a class="latest-blog-image" href="{{LatestBlogLink}}"><img src="{{LatestBlogPic}}" alt="Latest Blog Image"></a>
    </article>
    <div class="prev-blog-section">
      <h3 class="prev-blog-title">Check out our previous blogs:</h3>
      {{#each BlogButton}}
        {{>prevBlogButton this}}
      {{/each}}
    </div>
  </div>
</main>
