<main class="item-container">
  <h1 class="page-title">Our Favorite Items</h1>
  <article class="item-box">
    <div class="item-image">
      <img src="photos/CBQL8179.jpg">
    </div>
    <div class="item-info">
      <p class="item-brand">Forever 21 cashmere sweater</p>
      <p class="item-buy-it">Want it? Get it here:</p>
        <a href="google.com" class="item-link">someurl.com</a>
    </div>
  </article>
  <article class="item-box">
    <div class="item-image">
      <img src="photos/CBQL8179.jpg">
    </div>
    <div class="item-info">
      <p class="item-brand">Forever 21 cashmere sweater</p>
      <p class="item-buy-it">Want it? Get it here:</p>
      <a href="google.com" class="item-link">someurl.com</a>
    </div>
  </article>
</main>
